spring-wb/META-INF/Test.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.wms.com/schema/user"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.wms.com/schema/user"
        elementFormDefault="qualified">

	<xsd:element name="user">
        <xsd:complexType>
            <xsd:attribute name = "id" type = "xsd:string"/>
            <xsd:attribute name = "name" type = "xsd:string"/>
            <xsd:attribute name = "pass" type = "xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>

